@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap');

:root{
    --primary: #ff3b5c;
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-padding-spacer:24px;
    --seach-btn-width: 52px;
    --text-color: #161823;
    --black: #000;
    --white: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeSpeed;
}

input,button, [tabindex]{
    outline: none;
    border: none;
}
a[href]{
    color: var(--text-color);
    text-decoration: none;
}


body  {
    .tippy-box{
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84,84,84,0.92);
    }

    .tippy-arrow{
        
        color: rgba(84,84,84,0.92);
    }
.tippy-content{
    padding: 8px 9px;
}

    .tippy-box[data-placement^='bottom'] > .tippy-aroorw::before{
        top: -8px;
    }
}
