

// info user
.wrapper{

}
.info-container {
    font-size: 1.8rem;
    width: 560px;
    margin-bottom: 20px;
    position: relative;
    .header {
        display: flex;
        margin-bottom: 12px;
        
        align-items: center;

        .tippy-avatar {
            width: 116px;
            height: 116px;
            border-radius: 50%;
        }
        .title-container{
            flex: 1;
            margin-left: 20px;
            .tippy-username {
                font-size: 3.2rem;
                font-weight: 700;
            }
        
            .tippy-name {
                font-weight: 600;
                font-size: 1.8rem;
                line-height: 20px;
            }
        
        }
    }

    .info-btns{
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        .share-btn{
            min-width: 0; 
        }
    }

    .user-stats {
        display: flex;
        margin-top: 8px;
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
    }

    .bold {
        font-weight: 700;
        margin-right: 6px;
    }

    .user-stat{
        display: flex;
        margin-right: 20px;
        font-size: 1.8rem;
    }

    .user-bio {
        font-size: 1.6rem;
        font-weight: 400;
        
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .follow-btn{
        width: 200px;
    }

    .website{
        display: flex;
        font-size: 18px;
        font-weight: 600;
        &:hover{
            text-decoration: underline;
        }
    }
}
.content-wrapper{
    color: rgb(115, 116, 123);
    .active{
        color: var(--black);

    }
    .tabs{
        font-size: 20px;
        font-weight: 600;
        display: flex;
        position: relative;
        .underline{
            transform: translateX(0px);
            color: currentColor;
            position: absolute;

        }
        .tab{
            cursor: pointer;
            text-align: center;
            display: flex;
            padding: 0 36px;
            justify-content: center;
            &:hover{
                color: var(--black);
            }
            &:hover~.underline{
                display: block;
                width: 100%;

            }
            .icon-tab{
                margin-right: 4px;
            }
        }
        .line{
            position: absolute;
            bottom: -6px;
            left: 0px;
            content: "";
            width: 100%;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.12);
            transform: scaleY(0.5);
        }
    }
    .videos{
        margin-top: 20px;
        display: grid;
        gap: 24px 16px;
        grid-template-columns: repeat(auto-fill, minmax(184px, 1fr));
        width: 100%;
    }
}