.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    display: flex;
    padding: 0 var(--default-padding-spacer);
    width: var(--default-layout-width,1150px);
    max-width: 100%;
    display: flex;
    margin-top: var(--default-layout-header-height);
}

.contents{
    flex: auto;
    margin-left: calc(var(--default-layout-sidebar-width) + 0px);
    margin-top: 20px;
    width: 100%;
}