.wrapper{
    --search-border-radious: 92px;
    --search-height: 46px;
    --search-border-radious: 92px;
    --search-top-spacer:9px;
    --search-btn-color: rgba(22,24,35,0.34);
    --search-btn-width: 52px;


    position: fixed;
    width: 100%;
    height: var(--default-layout-header-height,60px);
    box-shadow: 0 1px 1px rgba(71, 67, 67, 0.12);
    display: flex;
    justify-content: center;
    background-color: var(--white);
}
.inner{
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-padding-spacer);
    
    &.stretch {
        width: 100%;
    }
}

//actions
.action{
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-btn{
    position: relative;
    background-color: transparent;
    font-size: 2.2rem;
    color: #161823;
    padding: 4px 16px;
    margin-top: 6px;
    cursor: pointer;

    .badge{
        position: absolute;
        background-color: var(--primary);
        top: 0;
        right: 10px;
        border-radius: 45%;
        font-size: 1.2rem;
        color: var(--white);
        padding: 2px 4px;
    }
}

.more-btn{
    font-size: 2rem;
    background-color: transparent;
    margin-left: 28px;
    padding: 4px 8px;
    cursor: pointer;
}

.user-avatar{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 0 0 24px;
}